
$dark-blue:            #060c40;
$dark-blue-primary:    #000536;
$dark-blue-secundary:  #000c75;
$dark-blue-tertiary:   #000ba8;
$blue-primary:         #0113f5;
$blue-secundary:       #0016db;
$blue-tertiary:        #0012d5;
$light-blue-primary:   #1929ff;
$light-blue-secundary: #1930ff;
$light-blue-tertiary:  #172ce6;

$dark-gold-primary:   #362a00;
$dark-gold-secundary: #695200;
$dark-gold-tertiary:  #755c00;
$gold-primary:        #8f7000;
$gold-secundary:      #a88300;
$gold-tertiary:       #b58e00;
$light-gold-primary:  #f5c000;
$light-gold-secundary:#dbac00;



$white-primary:   #ffffff;
$white-secundary: #e6e6e6;
$white-tertiary:  #bfbfbf;
$dark-white:      #404040;
$medium-white:    #808080;



$grey-primary:     #4d4d4d;
$grey-secundary:   #8c8c8c;
$grey-terriary:    #333333;
$darkerthanblack:  #000000;


//utilities
$status-color-select:    #730cf5;
$status-color-activated: #f5f118;
$status-color-safe:      #f59818;
$status-color-neutral:   #0c9ef5;
$status-color-1:         #6013c2;
$status-color-2:         #5f398f;
$status-color-3:         #c27813;
$status-color-4:         #f6bb3e;



