@import "colors.scss";


//---------------------------------//
//----------flex box basic---------//
@mixin  flexboxbasic {
    display: flex;
    justify-content: center;
    align-items: center;
}


//---------------------------------//
//----------flex box column---------//
@mixin  flexboxcolumn {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



//---------------------------------//
//------transition  3 seconds------//
@mixin transitionbasic {
    transition: all 0.3s ease;
}

@mixin transitionbasicslow {
    transition: all 0.5s ease;
}