$regular-size:16px;

//--------------------------------------------//
//----------smarth phone size letters---------//
$note-small:12px; 
$letters-small:18px;
$subtitle-small:24px;
$title-small:30px;

//--------------------------------------------//
//-------------tablet size letters------------//
$note-medium:14px; 
$letters-medium:22px;
$subtitle-medium:28px;
$title-medium:34px;

//--------------------------------------------//
//---------medium monitor size letters--------//
$note-big:16px; 
$letters-big:26px;
$subtitle-big:30px;
$title-big:38px;


//--------------------------------------------//
//--------------full size letters-------------//
$note-super:20px; 
$letters-super:30px;
$subtitle-super:34px;
$title-super:42px;


//--------------------------------------------//
//-------------------spaces-------------------//
$min:12px;
$space-small:16px;
$space-medium:20px;
$space-big:26px;
$space-super:34px;