//@charset utf-8;
@import 'models/colors.scss';
@import 'models/fonts.scss';
@import 'models/mixing.scss';
@import 'models/size.scss';


//General styles
body{
    font-family:$regular;
    font-size:$regular-size;
    min-height: 100vh;
}

main{
    min-height: 70vh;
}


//TODOheader////////////
.principal-tittle{
    font-family :$heavy;
    font-size: $title-super;
    margin-top:$space-small;
    color:$light-gold-primary;
}

.secundary-tittle{
    font-family :$black;
    font-size: $subtitle-super;
    margin-top:$space-small;
    margin-bottom:$space-small;
    color:$light-gold-primary;
}

.title-container{
    background-color: $dark-blue;
}

//*********Navbar PC***********//
.navbar-pc{
    @include flexboxbasic;
    flex-wrap: wrap;
    background-color: $dark-blue-secundary;
    ul{
        @include flexboxbasic;
        flex-wrap: wrap;
        margin-top:$space-small;
        margin-bottom:$space-small;
        li{
            a{
                font-family :$black;
                color:$white-primary;
                margin:$min;
            }
        }
    }
}


.title-pages{
    color:$dark-blue;
    margin-top:$space-small;
    margin-bottom:$space-small;
    font-size: $subtitle-super;
    font-family: $bold;
}




//TODOheader////////////




//TODO Main  //////////

.title-form{
    background-color: $light-blue-tertiary;
    color:$white-primary;
    font-family:$semibold;
    font-size: $small;
    padding:$min;
    border-radius: 5px;
}


.form-part-container{
    background-color:$dark-blue-tertiary;
    margin-top: $space-medium;
    margin-bottom: $space-medium;

        .data-container{

            @include flexboxbasic;
            flex-direction: column;

            h4, h3, p, h2{
                color:$white-primary;
                font-family: $regular;
                margin-top:$min;
                margin-bottom:$supermin;
            }

            label{
                color:$white-primary;
                font-family: $regular;
                margin-top:$min;
                margin-bottom:$supermin;
            }

            input{
                font-family: $regular;
                margin-bottom:$min;
            }

            option{
                font-family: $regular;
                margin-bottom:$min;
            }

            select, textarea{
                font-family: $regular;
                margin-bottom:$min;              
            }

        }


}


//TODO Main  //////////



//TODO Footer//////////
.footer-container{
    background-color: $dark-blue-primary;
    min-height: 10vh;
    
        p{
            font-family: $thin;
            font-size: $note-super;
            color:$white-primary;
            margin:$min;
        }
}

//TODO Footer//////////


